@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.hojita1 {

    position: absolute;
    left:0px;
    top: 0px;
    z-index: 2;
}

.hojita2 {

    position: absolute;
    right:0px;
    top: 0px;
    z-index: 3;
}

#carousel-editorial {

    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 1;
}

#diapos {

    position: relative;
    display: flex;
    height: 430px;
    align-items: stretch;
}

.image-slide {

    width: 100%;
}


.content {

    flex-direction: column;
    display: flex;
    justify-content: center;
    height: 390px;
    padding: 0px;
    flex-grow: 1;
    max-width: none;
    text-align: center;
}

.slide1 .content {
    margin-left: 175px;
    margin-right: 175px;
}

.content h2 {

    flex-direction:column;
    display: flex;
    justify-content: center;
    padding: 0px;
    flex: 5px;
    font-size: 25px;
    
}

#carousel-editorial .carousel-indicators button{
    background-color: #91BBDE; 
    border-radius: 50%;
    height: 15px;
    width: 15px;
    margin: 15px;
}

#carousel-editorial .carousel-indicators .active {
    background-color: #0C65AF; 
    border-radius: 50%;
    height: 15px;
    width: 15px;
    margin: 15px;
}


.content h3 {

    font-size: 25px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.content p {
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
}