body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    min-height: 100vh; 
    overflow-y: auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #ffffff;
    border-bottom: 2px solid #e0e0e0;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 60px;
}

.logo-container img {
    height: 50px; 
    margin-right: 20px; 
}


.nav-menu {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    flex-grow: 1;
    justify-content: flex-start; 
    margin-right: 150px;
}

.nav-menu li {
    margin: 0 20px; 
}

.nav-menu li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 14px; 
    transition: color 0.3s ease;
}

.nav-menu li a:hover {
    color: #007bff;
}

.search-container {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: flex-start; 
    background-color: #f1f1f1; 
    padding: 5px 10px; 
    border-radius: 20px; 
    margin-right: 100px; 
}

.search-input {
    border: none; 
    border-radius: 20px;
    padding: 5px 20px 5px 10px;
    outline: none;
    font-size: 14px; 
    background-color: transparent; 
}

.search-button {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
}

.search-button img {
    height: 16px;
    width: 16px;
}

.hero img {
    width: 100%;
    height: auto;
    
}

main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 100px; 
    margin-top: 50px;
    padding-bottom: 50px;
}

.banner {
    width: 100%;
    height: 70vh;
    font-weight: bold;
}

.banner h1 {
    font-size: 48px;
    color: #1a5aa6;
    margin-bottom: 20px;
}

.banner-text {
    font-size: 20px;
    color: black;
    margin-bottom: 20px;
}

.search-container1 {
    display: flex;
    align-items: center;
    background-color: #f1f1f1;
    padding: 5px 10px; 
    border-radius: 20px;
    width: 100%; 
    max-width: 300px; 
}

.search-container1 input {
    border: none;
    background: none;
    outline: none;
    padding: 5px;
    flex: 1;
}

.searchimg {
    width: 15px;
    height: 15px;
}

.search-container1 button {
    background: none;
    border: none;
    cursor: pointer;
}

.image-container img {
    width: 100%;
    margin-right: 0; 
}

/* Nueva sección Detalles de Publicación */
.publication-details {
    text-align: center;
    margin-top: 40px;
}

.publication-details h2 {
    font-size: 30px;
    color: #2675b7;
    margin-bottom: 100px; 
    font-weight: bold;
}

.buttons-container {
    display: flex;
    justify-content: center;
    gap: 20px; 
    flex-wrap: wrap; 
    margin-bottom: 50px; 
}

.detail-button {
    border: 1px solid #0c65af;
    background-color: transparent;
    color: #24418b;
    font-size: 18px; 
    font-weight: bold; 
    padding: 10px 40px; 
    border-radius: 40px; 
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.detail-button:hover {
    background-color: #1a5aa6;
    color: white;
}

.detail-button:active {
    background-color: white;
    color: #0c65af;
    border-color: #0c65af;
}

#editorial-button {
    margin-top: 10px; 
    padding: 15px 50px; 
}

footer {
    height: 100px; 
}

.section{
    margin-bottom: 75px;
    margin-top: 75px;
}

header {
    height: 30vh;
}